@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=DM+Serif+Display:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Trocchi&display=swap&family=Cal+Sans');
@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

@theme {
  --font-dm-serif: 'DM Serif Display', serif;
  --font-baskerville: 'Baskervville', serif;
  --font-pt-serif: 'PT Serif', serif;
  --font-cal-sans: 'Cal Sans', sans-serif;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  @apply bg-[#FAFAFA]
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@layer utilities {
  .animate-blob {
    animation: blob 7s infinite;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}